html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

.wrapper {
  position: relative;
}

a.nav-link {
  color: white;
}
a.nav-link:hover {
  color: red;
}

.header {
  background: url(img/ppp.jpg);
  min-height: 50vh;
}

.summary {
  color: white;
}

.skills {
  background: rgb(145, 145, 113);
}

.section-title {
  border-bottom: 0.7rem solid black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.skills i {
  font-size: 0.5rem;
}

.skills-list > div {
  margin: 2rem;
}

#go-up {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 10px;
  bottom: 20px;

  border-radius: 50%;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 5px 5px;
}

.footer-text {
  color: black;
}
